#back{
    background-color: #FBF6F0;
}
.botaoAliar{
    background-color: #748156;
    border-radius: 10px;
    border-color: #748156;
}
.email{
    border-radius: 10px;
    border-color: #748156;
}
.senha{
    border-radius: 10px;
    border-color: #748156;
}